* {
    font-family: 'Comic Neue', cursive;
}
table {
    width: 100%;
    margin: auto;
}
thead {
    background-color: grey;
    font-size: larger;
    text-align: center;
}

.input-box {
    margin: 10px;
}

.create-btn {
    margin: 10px;
    width: 100px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
}
/* read_users.html */
.box {
    border: 1px black solid;
    padding: 5px;
    width: fit-content;
}